<%= render "breadcrumbs" %>

<header>
  <h1 style="margin-bottom: 8px">Review members</h1>
</header>

<%= turbo_stream_from "members" %>
<main id="main">
  <table>
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th style="width: 20%">Email</th>
      <th>Expires on</th>
      <th>Member since</th>
      <th style="width: 11%">Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @members.each do |m| %>
        <%= turbo_stream_from m %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.username %></td>
          <td><%= m.email %></td>
          <td><%= local_relative_time(m.expires_at, type: "time-or-date") %></td>
          <td><%= local_relative_time(m.created_at, type: "time-or-date") %></td>
          <td><span class="<%= m.status %>-chip"><%= m.status %></span></td>
          <td>
            <%= link_to organization_member_path(m) do %>
              <button>Review</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
