<h1>Continue with <%= Config.organization %></h1>
<%= form_with scope: :member, url: my_keycodes_path, method: :post do |form| %>
  <div>
    <%= form.label :username, "Username" %>
    <%= form.text_field :username, placeholder: "fionahu" %>
  </div>

  <%= form.submit "Continue →" %>
<% end %>