<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('doorkeeper.layouts.admin.title') %></title>
  <%= stylesheet_link_tag "doorkeeper/admin/application" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="doorkeeper-admin container" class="bottom-container">
  <%- if flash[:notice].present? %>
    <div class="alert alert-info flash-error">
      <%= flash[:notice] %>
    </div>
  <% end -%>

  <%= yield %>
</div>
</body>
</html>
