<h1>Login to <%= Config.organization %></h1>
<%= form_with scope: :rendezvous, url: rendezvous_index_path, method: :post do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, placeholder: "fionahu@obl.ong" %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, placeholder: "password123" %>
  </div>

  <%= form.submit "Login →" %>
<% end %>