<%= render "nav" %>

<header>
  <h1 style="margin-bottom: 8px">Members</h1>
  <nav aria-label="Actions" class="subheading-buttons">
    <button id="share" class="subheading-button">Share join link</button>
    <%= link_to organization_cemetery_path do %>
      <button class="subheading-button">Visit cemetery</button>
    <% end %>
    <div style="display: inline-flex; gap: 0;border-radius: 4px;box-sizing: border-box;position: relative;">
      <%= link_to organization_export_path(:csv), data: { turbo: false } do %>
        <button class="subheading-button" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">
          Export
        </button>
      <% end %>
      <details class="dropdown" style="display: inline-flex;">
        <summary class="subheading-button">↓</summary>
        <nav aria-label="Export formats">
          <%= link_to "OpenSlides", organization_export_path(:open_slides), data: { turbo: false } %>
        </div>
      </details>
    </div>
  </nav>
</header>
<%= turbo_stream_from "members" %>
<main id="main">
  <% if Clearance.any? %>
    <% @clearance_count = Clearance.count %>
    <%= link_to organization_petitions_path do %>
    <button style="margin-bottom: 1rem;">Review <%= @clearance_count %> new member<%= @clearance_count > 1 ? "s" : nil %></button>
    <% end %>
  <% end %>
  <table>
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Expires on</th>
      <th>Member since</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @members.each do |m| %>
        <%= turbo_stream_from m %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.username %></td>  
          <td><%= m.email %></td>
          <td><%= local_relative_time(m.expires_at, type: "time-or-date") %></td>
          <td><%= local_relative_time(m.created_at, type: "time-or-date") %></td>
          <td><span class="<%= m.status %>-chip"><%= m.status %></span></td>
          <td>
            <%= link_to organization_member_path(m) do %>
              <button>Edit</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>

<style>
  details {
    summary {
      height: 53%;
      display: inline-flex;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 5px 10px;
      background-color: var(--red-11) !important;
      border: 2px solid var(--red-11) !important;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      &:hover {
        background-color: var(--red-12) !important;
        border-color: var(--red-12) !important;
      }
    }

    nav {
      position: absolute;
      top: 30px;
      background: var(--red-11);
      color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 0;
      left: 65px;
      width: max-content;
      gap: 0.5rem;
      overflow: hidden;
      a {
        font-weight: 600;
        font-size: smaller;
        padding: 0.5rem 10px;
        transition: ease-in-out 0.2s;
        color: var(--sand-1);
        &:hover {
          background-color: var(--red-12);
        }
      }
    }
  }

  details[open] {
    summary {
      border-bottom-right-radius: 0;
    }
  }
</style>

<script type="module">
  const shareBtn = document.querySelector("button#share")

  if (!navigator.share) {
    shareBtn.textContent = "Copy join link"
  }

  shareBtn.addEventListener("click", async (event) => {
    if (navigator.share) {
      // Use Web Share API
      await navigator.share({
        title: "Join <%= Config.organization %>",
        text: "Become a member of <%= Config.organization %>!",
        url: "<%= new_my_membership_url %>",
      })
    } else {
      // Copy to clipboard if Web Share is unavailable
      await navigator.clipboard.writeText("<%= new_my_membership_url %>");
      alert("Copied join link to clipboard!")
    }
  })
</script>