<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || Config.organization || "United" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "viewport-min-width.js" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= image_path 'icon-filled.png' %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= image_path 'icon-filled.png' %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a class="skip-to-content-link" href="#main">
      Skip to content
    </a>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="bottom-container">
      <% if flash[:error] %>
        <output class="flash-error">
          <% if flash[:error].is_a? Array %>
            <ul>
              <% flash[:error].each do |f| %>
                <li><%= f.html_safe %></li>
              <% end %>
            </ul>
          <% else %>
            <p><%= flash[:error].html_safe %></p>
          <% end %>
        </output>
      <% end %>

      <footer>
        <a href="https://codeberg.org/reesericci/united" target="_blank" style="text-decoration: underline">
          <p style="word-break: break-word; overflow-wrap: break-word;">
            This site is powered by <b>United</b> — free and open membership software for collective organizations
          </p>
        </a>
      </footer>
    </div>
  </body>
</html>
