<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Config.organization || "United" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "nav" unless request.controller_class == JoinController %>
    
    <%= yield %>

    <div class="bottom-container">
      <% if flash[:error] %>
        <div class="flash-error">
          <p><%= flash[:error].html_safe %></p>
        </div>
      <% end %>

      <a href="https://codeberg.org/reesericci/united" target="_blank"><p>This site is powered by <span style="text-decoration: underline">United</span> — free and open membership software for collective organizations</p></a>
    </div>
  </body>
</html>
